.container-cart {
   display: flex;
   align-items: center;
   position: relative;
 }
 
 .container-cart svg {
   font-size: 2rem;
   color: beige;
 }
 
 .bubble-counter {
   position: absolute;
   top: -6px;
   right: -8px;
   display: flex;
   align-items: center;
   justify-content: center;
   width: 20px;
   height: 20px;
   border-radius: 50%;
   background-color: red;
   color: white;
   font-size: 12px;
 }
 